In [1]:
from faker import Faker
import mysql.connector

# Establish connection
def create_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password,
            database=db_name
        )
        if connection.is_connected():
            print("Connection to MySQL DB successful")
    except mysql.connector.Error as e:
        print(f"The error '{e}' occurred")
    return connection

connection = create_connection("localhost", "root", "Shaurya@123!", "market")

# Insert records using Faker
fake = Faker()
cursor = connection.cursor()

for _ in range(100):
    name = fake.name()
    email = fake.email()
    phone = fake.phone_number()[:15]  # Restrict phone number length to 15 characters
    
    insert_query = "INSERT INTO student (name, email, phone) VALUES (%s, %s, %s)"
    cursor.execute(insert_query, (name, email, phone))

connection.commit()
print("100 records inserted successfully.")

# Fetch the records from the table
fetch_query = "SELECT * FROM student LIMIT 100"
cursor.execute(fetch_query)
students = cursor.fetchall()

# Display the records
for student in students:
    print(student)

cursor.close()
connection.close()

Connection to MySQL DB successful
100 records inserted successfully.
(4, 'Raymond Brown', 'fernandezdiana@example.com', '592.214.0930x11')
(5, 'Angela Anderson', 'dmorgan@example.org', '+1-766-560-0989')
(6, 'David Coleman', 'wilsonjennifer@example.org', '749-795-7027x02')
(7, 'Bruce Owens', 'shelbymartin@example.org', '518.778.1000x75')
(8, 'Mary Wells', 'danielsmichele@example.org', '(671)886-3529x7')
(9, 'Brenda Martinez', 'thomas40@example.net', '001-326-818-266')
(10, 'Jonathan Nelson', 'jesus73@example.net', '(344)758-6549x2')
(11, 'Craig Mendez', 'harrisbrian@example.org', '+1-785-519-3725')
(12, 'Matthew Sanders', 'daniel56@example.org', '822-394-5782x34')
(13, 'Jonathan Martin', 'vberger@example.net', '454.780.4956x93')
(14, 'Amber Cook', 'ashley00@example.org', '001-594-515-753')
(15, 'Monique Graham', 'harpermario@example.com', '(374)566-1184')
(16, 'Glenn Fletcher', 'vcook@example.net', '+1-896-870-2510')
(17, 'Rachel Turner', 'jennifer60@example.org', '+1-329-796-8084')
(18, 'Kiara Jones', 'william24@example.org', '853-671-5214')
(19, 'Dale Hahn', 'robinsonxavier@example.org', '(292)949-1365x9')
(20, 'John Johnson', 'wilsondonald@example.com', '+1-901-205-9632')
(21, 'Dennis Reed', 'sarahjackson@example.com', '(993)973-4824x7')
(22, 'Chris Mcfarland', 'ryancoleman@example.net', '(420)983-3868x8')
(23, 'Bruce Brown', 'tmcgee@example.com', '(480)206-9367')
(24, 'Christopher Gibson', 'jamesshannon@example.com', '(300)381-8698x4')
(25, 'Molly Washington', 'shelby23@example.org', '(607)235-9336x6')
(26, 'Carlos Cox', 'campbellann@example.net', '3314889924')
(27, 'David Martinez', 'mooresusan@example.org', '(961)787-0278')
(28, 'Erin Newton', 'wbarrett@example.org', '001-701-584-008')
(29, 'Morgan Shaffer', 'kayla12@example.org', '(360)435-4332')
(30, 'Adam Wiley', 'wilsonpamela@example.com', '(244)865-6856x3')
(31, 'Billy Hutchinson', 'youngwilliam@example.com', '657-936-1039')
(32, 'William Jackson', 'rodneywilson@example.com', '+1-556-416-0551')
(33, 'Desiree Murphy', 'jonessandra@example.org', '+1-801-378-8097')
(34, 'Alyssa Goodman', 'george83@example.org', '(595)282-2956x5')
(35, 'Daniel Johnson', 'williamvargas@example.net', '(259)516-3404x3')
(36, 'William Cox', 'janderson@example.org', '(536)764-6640')
(37, 'Joseph Wright', 'rebecca68@example.org', '(631)342-6493x3')
(38, 'Jason Knox', 'jmartin@example.org', '758.389.9406x50')
(39, 'Christy Wilcox', 'hfrazier@example.net', '(412)515-1899')
(40, 'Stephanie Santos', 'faithrice@example.org', '+1-711-727-2877')
(41, 'David Calderon', 'qgallagher@example.com', '216-644-7229')
(42, 'Tiffany Kelley', 'bhill@example.net', '446-870-5989')
(43, 'Kathryn Becker', 'nelsonemily@example.org', '+1-675-260-4952')
(44, 'Susan White', 'eward@example.com', '001-753-702-180')
(45, 'Maria Anderson', 'marco90@example.org', '488.872.8617x58')
(46, 'Nancy Gonzalez', 'ariaschristie@example.org', '6292553746')
(47, 'Lori Blanchard', 'myersandrew@example.com', '(649)948-6027x7')
(48, 'Ronald Delgado', 'johnsonashley@example.net', '8963671882')
(49, 'Ashley Hartman', 'barrettmitchell@example.net', '001-800-647-956')
(50, 'Tina Foster', 'snydermark@example.com', '725.852.2134')
(51, 'Brett Paul', 'bmartin@example.com', '636.346.6358x60')
(52, 'Karen Davis', 'ginaharris@example.org', '(340)530-2346x6')
(53, 'Adam Dunn', 'tayloramy@example.net', '495.511.4859x69')
(54, 'Sonya Richards', 'jessicanewton@example.org', '001-297-381-167')
(55, 'Daniel Zavala', 'brandonjackson@example.com', '495.680.3115')
(56, 'Karen Cook', 'mirandaconnor@example.com', '001-484-610-495')
(57, 'Jessica Jones', 'donald00@example.com', '(748)401-4347x9')
(58, 'Jamie Lee', 'jennapage@example.net', '413-496-8178')
(59, 'Kevin Fletcher', 'hcarney@example.org', '001-335-257-835')
(60, 'Christopher Torres', 'stephanie06@example.net', '001-769-649-569')
(61, 'Donald Olsen', 'ibooth@example.com', '(463)320-3943x7')
(62, 'Theresa Reynolds MD', 'jamie23@example.org', '+1-653-316-2932')
(63, 'Sonya Mata', 'zachary32@example.net', '9265919389')
(64, 'Michelle Graham', 'frederick15@example.net', '(717)663-6746x5')
(65, 'William Maldonado', 'knoxderek@example.org', '001-925-982-516')
(66, 'Madison Miller', 'rachel54@example.net', '428-475-5588x96')
(67, 'Anne Clark', 'hunter68@example.org', '672-234-9378x68')
(68, 'Stephanie Russell', 'mark68@example.com', '+1-493-228-9935')
(69, 'Brandon Johnson', 'bakertroy@example.net', '001-565-805-237')
(70, 'Willie Ramsey', 'montoyajorge@example.org', '(251)386-7426x5')
(71, 'Rachel Martin', 'hurstwilliam@example.org', '(408)543-1764x6')
(72, 'Kathleen Silva', 'davideric@example.com', '8646618150')
(73, 'Jordan Cruz', 'wfigueroa@example.com', '+1-520-905-1997')
(74, 'Stacy Adams', 'amanda27@example.com', '(511)251-3086x8')
(75, 'Stacy Mills', 'paulgomez@example.com', '+1-222-820-2013')
(76, 'James Flores', 'johnsonjamie@example.net', '+1-866-728-0083')
(77, 'Eric Watson', 'clarkjacob@example.net', '+1-607-954-7939')
(78, 'Michael Ross', 'anthonyjones@example.com', '4334388786')
(79, 'Elizabeth Guzman', 'richardrussell@example.com', '3594907561')
(80, 'Jennifer Garza', 'sandersleah@example.org', '+1-916-546-4938')
(81, 'Michael Parsons', 'bensoncharles@example.org', '001-236-930-411')
(82, 'Scott Williams', 'sandraeverett@example.net', '302.535.5568x97')
(83, 'Frank Velasquez', 'allenmadison@example.com', '719-743-5611x93')
(84, 'Adrian Strickland', 'wilkinsonjessica@example.net', '(336)373-7032')
(85, 'Michael Reynolds', 'smithdeborah@example.org', '001-604-561-663')
(86, 'Charles Buchanan', 'deanangel@example.org', '3383717222')
(87, 'Randy Bowman', 'rachel82@example.com', '499.932.4275')
(88, 'Douglas Williams', 'salazarkevin@example.net', '924.634.5078x91')
(89, 'Jerry Huff', 'garrisoncarla@example.com', '+1-506-967-3662')
(90, 'Holly Avila', 'dwade@example.net', '666.883.6580x56')
(91, 'Troy Robinson', 'hunterjason@example.com', '633.256.0917')
(92, 'Wanda Bender', 'wardamanda@example.org', '+1-441-904-1431')
(93, 'Anna Davis', 'brenda53@example.org', '001-438-668-332')
(94, 'Kimberly Carpenter', 'jacquelinebarber@example.com', '(724)550-5762')
(95, 'Katherine Brown', 'qbanks@example.net', '2925653081')
(96, 'Sheri Henderson', 'rebecca47@example.net', '933.804.1214')
(97, 'David Harrington', 'kimberlyswanson@example.org', '001-836-324-015')
(98, 'Tiffany Holland', 'hoffmancarmen@example.com', '+1-441-865-0391')
(99, 'Joseph Hawkins', 'xmcdonald@example.net', '(462)935-9776x3')
(100, 'Sara Gray', 'christy44@example.com', '001-705-246-308')
(101, 'Jennifer Moore', 'cynthiawarren@example.net', '2489983501')
(102, 'Amy Watson', 'nrice@example.net', '+1-643-859-2323')
(103, 'Joann Nguyen', 'benjaminkylie@example.org', '001-866-760-694')

In [2]:
from faker import Faker
import mysql.connector

# Establish connection
def create_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password,
            database=db_name
        )
        if connection.is_connected():
            print("Connection to MySQL DB successful")
    except mysql.connector.Error as e:
        print(f"The error '{e}' occurred")
    return connection

connection = create_connection("localhost", "root", "Shaurya@123!", "market")

# Insert records using Faker
fake = Faker()
cursor = connection.cursor()

for _ in range(100):
    name = fake.name()
    email = fake.email()
    phone = fake.phone_number()[:15]  # Restrict phone number length to 15 characters
    
    insert_query = "INSERT INTO student (name, email, phone) VALUES (%s, %s, %s)"
    cursor.execute(insert_query, (name, email, phone))

# Ensure the changes are committed
connection.commit()
print("100 records inserted successfully.")

# Fetch the records from the table
fetch_query = "SELECT * FROM student LIMIT 100"
cursor.execute(fetch_query)
students = cursor.fetchall()

# Display the records
for student in students:
    print(student)

cursor.close()
connection.close()

Connection to MySQL DB successful
100 records inserted successfully.
(4, 'Raymond Brown', 'fernandezdiana@example.com', '592.214.0930x11')
(5, 'Angela Anderson', 'dmorgan@example.org', '+1-766-560-0989')
(6, 'David Coleman', 'wilsonjennifer@example.org', '749-795-7027x02')
(7, 'Bruce Owens', 'shelbymartin@example.org', '518.778.1000x75')
(8, 'Mary Wells', 'danielsmichele@example.org', '(671)886-3529x7')
(9, 'Brenda Martinez', 'thomas40@example.net', '001-326-818-266')
(10, 'Jonathan Nelson', 'jesus73@example.net', '(344)758-6549x2')
(11, 'Craig Mendez', 'harrisbrian@example.org', '+1-785-519-3725')
(12, 'Matthew Sanders', 'daniel56@example.org', '822-394-5782x34')
(13, 'Jonathan Martin', 'vberger@example.net', '454.780.4956x93')
(14, 'Amber Cook', 'ashley00@example.org', '001-594-515-753')
(15, 'Monique Graham', 'harpermario@example.com', '(374)566-1184')
(16, 'Glenn Fletcher', 'vcook@example.net', '+1-896-870-2510')
(17, 'Rachel Turner', 'jennifer60@example.org', '+1-329-796-8084')
(18, 'Kiara Jones', 'william24@example.org', '853-671-5214')
(19, 'Dale Hahn', 'robinsonxavier@example.org', '(292)949-1365x9')
(20, 'John Johnson', 'wilsondonald@example.com', '+1-901-205-9632')
(21, 'Dennis Reed', 'sarahjackson@example.com', '(993)973-4824x7')
(22, 'Chris Mcfarland', 'ryancoleman@example.net', '(420)983-3868x8')
(23, 'Bruce Brown', 'tmcgee@example.com', '(480)206-9367')
(24, 'Christopher Gibson', 'jamesshannon@example.com', '(300)381-8698x4')
(25, 'Molly Washington', 'shelby23@example.org', '(607)235-9336x6')
(26, 'Carlos Cox', 'campbellann@example.net', '3314889924')
(27, 'David Martinez', 'mooresusan@example.org', '(961)787-0278')
(28, 'Erin Newton', 'wbarrett@example.org', '001-701-584-008')
(29, 'Morgan Shaffer', 'kayla12@example.org', '(360)435-4332')
(30, 'Adam Wiley', 'wilsonpamela@example.com', '(244)865-6856x3')
(31, 'Billy Hutchinson', 'youngwilliam@example.com', '657-936-1039')
(32, 'William Jackson', 'rodneywilson@example.com', '+1-556-416-0551')
(33, 'Desiree Murphy', 'jonessandra@example.org', '+1-801-378-8097')
(34, 'Alyssa Goodman', 'george83@example.org', '(595)282-2956x5')
(35, 'Daniel Johnson', 'williamvargas@example.net', '(259)516-3404x3')
(36, 'William Cox', 'janderson@example.org', '(536)764-6640')
(37, 'Joseph Wright', 'rebecca68@example.org', '(631)342-6493x3')
(38, 'Jason Knox', 'jmartin@example.org', '758.389.9406x50')
(39, 'Christy Wilcox', 'hfrazier@example.net', '(412)515-1899')
(40, 'Stephanie Santos', 'faithrice@example.org', '+1-711-727-2877')
(41, 'David Calderon', 'qgallagher@example.com', '216-644-7229')
(42, 'Tiffany Kelley', 'bhill@example.net', '446-870-5989')
(43, 'Kathryn Becker', 'nelsonemily@example.org', '+1-675-260-4952')
(44, 'Susan White', 'eward@example.com', '001-753-702-180')
(45, 'Maria Anderson', 'marco90@example.org', '488.872.8617x58')
(46, 'Nancy Gonzalez', 'ariaschristie@example.org', '6292553746')
(47, 'Lori Blanchard', 'myersandrew@example.com', '(649)948-6027x7')
(48, 'Ronald Delgado', 'johnsonashley@example.net', '8963671882')
(49, 'Ashley Hartman', 'barrettmitchell@example.net', '001-800-647-956')
(50, 'Tina Foster', 'snydermark@example.com', '725.852.2134')
(51, 'Brett Paul', 'bmartin@example.com', '636.346.6358x60')
(52, 'Karen Davis', 'ginaharris@example.org', '(340)530-2346x6')
(53, 'Adam Dunn', 'tayloramy@example.net', '495.511.4859x69')
(54, 'Sonya Richards', 'jessicanewton@example.org', '001-297-381-167')
(55, 'Daniel Zavala', 'brandonjackson@example.com', '495.680.3115')
(56, 'Karen Cook', 'mirandaconnor@example.com', '001-484-610-495')
(57, 'Jessica Jones', 'donald00@example.com', '(748)401-4347x9')
(58, 'Jamie Lee', 'jennapage@example.net', '413-496-8178')
(59, 'Kevin Fletcher', 'hcarney@example.org', '001-335-257-835')
(60, 'Christopher Torres', 'stephanie06@example.net', '001-769-649-569')
(61, 'Donald Olsen', 'ibooth@example.com', '(463)320-3943x7')
(62, 'Theresa Reynolds MD', 'jamie23@example.org', '+1-653-316-2932')
(63, 'Sonya Mata', 'zachary32@example.net', '9265919389')
(64, 'Michelle Graham', 'frederick15@example.net', '(717)663-6746x5')
(65, 'William Maldonado', 'knoxderek@example.org', '001-925-982-516')
(66, 'Madison Miller', 'rachel54@example.net', '428-475-5588x96')
(67, 'Anne Clark', 'hunter68@example.org', '672-234-9378x68')
(68, 'Stephanie Russell', 'mark68@example.com', '+1-493-228-9935')
(69, 'Brandon Johnson', 'bakertroy@example.net', '001-565-805-237')
(70, 'Willie Ramsey', 'montoyajorge@example.org', '(251)386-7426x5')
(71, 'Rachel Martin', 'hurstwilliam@example.org', '(408)543-1764x6')
(72, 'Kathleen Silva', 'davideric@example.com', '8646618150')
(73, 'Jordan Cruz', 'wfigueroa@example.com', '+1-520-905-1997')
(74, 'Stacy Adams', 'amanda27@example.com', '(511)251-3086x8')
(75, 'Stacy Mills', 'paulgomez@example.com', '+1-222-820-2013')
(76, 'James Flores', 'johnsonjamie@example.net', '+1-866-728-0083')
(77, 'Eric Watson', 'clarkjacob@example.net', '+1-607-954-7939')
(78, 'Michael Ross', 'anthonyjones@example.com', '4334388786')
(79, 'Elizabeth Guzman', 'richardrussell@example.com', '3594907561')
(80, 'Jennifer Garza', 'sandersleah@example.org', '+1-916-546-4938')
(81, 'Michael Parsons', 'bensoncharles@example.org', '001-236-930-411')
(82, 'Scott Williams', 'sandraeverett@example.net', '302.535.5568x97')
(83, 'Frank Velasquez', 'allenmadison@example.com', '719-743-5611x93')
(84, 'Adrian Strickland', 'wilkinsonjessica@example.net', '(336)373-7032')
(85, 'Michael Reynolds', 'smithdeborah@example.org', '001-604-561-663')
(86, 'Charles Buchanan', 'deanangel@example.org', '3383717222')
(87, 'Randy Bowman', 'rachel82@example.com', '499.932.4275')
(88, 'Douglas Williams', 'salazarkevin@example.net', '924.634.5078x91')
(89, 'Jerry Huff', 'garrisoncarla@example.com', '+1-506-967-3662')
(90, 'Holly Avila', 'dwade@example.net', '666.883.6580x56')
(91, 'Troy Robinson', 'hunterjason@example.com', '633.256.0917')
(92, 'Wanda Bender', 'wardamanda@example.org', '+1-441-904-1431')
(93, 'Anna Davis', 'brenda53@example.org', '001-438-668-332')
(94, 'Kimberly Carpenter', 'jacquelinebarber@example.com', '(724)550-5762')
(95, 'Katherine Brown', 'qbanks@example.net', '2925653081')
(96, 'Sheri Henderson', 'rebecca47@example.net', '933.804.1214')
(97, 'David Harrington', 'kimberlyswanson@example.org', '001-836-324-015')
(98, 'Tiffany Holland', 'hoffmancarmen@example.com', '+1-441-865-0391')
(99, 'Joseph Hawkins', 'xmcdonald@example.net', '(462)935-9776x3')
(100, 'Sara Gray', 'christy44@example.com', '001-705-246-308')
(101, 'Jennifer Moore', 'cynthiawarren@example.net', '2489983501')
(102, 'Amy Watson', 'nrice@example.net', '+1-643-859-2323')
(103, 'Joann Nguyen', 'benjaminkylie@example.org', '001-866-760-694')